@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Variables con los colores */
/* TODO */

:root {
    --color-seccion1: #1f2421;
    --color-seccion2: #49a078;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px, 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background-color: #1f2421;
}

header .logo {
    margin: 25px;
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
}

header ul {
    margin: 35px;
    position: relative;
    display: flex;
    gap: 40px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.25em;
}

header ul li.active a,
header ul li:hover a {
    color: #49a078;
}

#home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #1f2421;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

#home .content {
    animation: fadeIn 1s ease-out forwards;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 650px;
    z-index: 10;
    top: -0vh;
}

#home .content h2 {
    position: relative;
    font-size: 5em;
    color: #49a078;
}

#home .content p {
    position: relative;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.6em;
}

#sobreagenda {
    position: relative;
    background-color: #49a078;
    min-height: 100vh;
    padding: 10px, 100px;
    justify-content: center;
    flex-direction: column;
}

#objetivos {
    position: relative;
    background-color: #1f2421;
    min-height: 100vh;
    padding-top: 50px; /* Ajusta según sea necesario */
    justify-content: center;
    flex-direction: column;
}

#objetivos h1 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #49a078;
    align-items: center;
    flex-direction: column;
    font-size: 4em; /* Ajusta según sea necesario */
    
}


#contacto {
    position: relative;
    background-color: #5387ae;
    min-height: 50vh;
    padding: 120px, 100px;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(146% + 1.3px);
    height: 349px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: #49a078;
}

.btn {
    position: relative;
    display: inline-block;
    font-size: 1.25em;
    max-width: 200px;
    background-color: #49a078;
    color: #fff;
    text-align: center;
    ;
    padding: 18px 30px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration: none;
    margin-top: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    min-height: 40vh;
    background-color: beige;
    color: #1f2421;
    padding: 50px 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.footer-box {
    flex: 1;
    min-width: 400px;
    max-width: 300px;
    text-align: center;
}

.footer-box h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #49a078;
}

.footer-box p {
    font-size: 1em;
    margin-bottom: 10px;
}

.socials a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color: #49a078;
    font-weight: bold;
}

.ods-container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 700px;
    margin: 20px auto;
}

.ods-box {
    background: #49a078;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.ods-box:hover {
    background: #72a486;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;

    min-height: 10vh;
    width: 50%;
    max-width: 500px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Barra superior del modal */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #49a078;
    color: white;
    padding: 10px 20px;

}

.modal-header h2 {
    margin: 0;
    font-size: 1.5em;
}

.close {
    font-size: 1.5em;
    cursor: pointer;
    font-weight: bold;
}
